<form [formGroup]="form">
    <div class="flex flex-column gap-3">
        <div class="flex align-items-baseline gap-3 containers">
            <label for="name" class="w-12rem">Name</label>
            <input id="name" formControlName="name" type="text" pInputText placeholder="Enter your Name">
        </div>
        <div class="flex align-items-baseline gap-3 containers">
            <label for="DOB" class="w-12rem">Date of Birth</label>
            <p-calendar id="DOB" [readonlyInput]="true" [maxDate]="today" formControlName="date" dateFormat="dd.mm.yy"
                placeholder="Select a Date"></p-calendar>
        </div>
        <div class="flex align-items-baseline gap-3 containers">
            <label for="Major" class="w-12rem">Major</label>
            <p-dropdown id="Major" formControlName="major" [options]="majors" placeholder="Select a Major"></p-dropdown>
        </div>
        <div class="flex align-items-baseline gap-3 containers">
            <label for="status" class="w-12rem">Marital Status</label>
            <p-dropdown id="status" formControlName="marital status" [options]="status"
                placeholder="Select Marital Status"></p-dropdown>
        </div>
        <div class="flex align-items-center gap-3 containers2">
            <label for="shawerma" class="w-12rem">Do you like Shawerma?</label>
            <p-inputSwitch id="shawerma" name="shawerma" formControlName="shawerma"></p-inputSwitch>
        </div>
        <div class="flex align-items-center gap-3 containers2">
            <label for="mansaf" class="w-12rem">How much do you like Mansaf?</label>
            <p-knob id="mansaf" formControlName="mansaf"></p-knob>
        </div>
        <div class="flex align-items-center gap-3 containers2">
            <label for="rating" class="w-12rem">How much do you like our services?</label>
            <p-rating id="rating" formControlName="servicesRating"></p-rating>
            <small class="p-error" *ngIf="servicesRating.value  == null">Please choose your preference</small>
        </div>
        <div class="flex align-items-center gap-3 containers2">
            <label for="pizza" class="w-12rem">How often do you eat pizza a month?</label>
            <span>
                {{slider.value}}
            </span>
            <p-slider id="pizza" formControlName="pizzaSlider" #slider [min]="0" [max]="50" class="w-6rem"></p-slider>
        </div>
        <div class="container">
            <p-button label="Submit" (click)="validate()"></p-button>
        </div>
    </div>

</form>
<p-toast position="bottom-center"></p-toast>